* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
    font-family: 'Montserrat', 'sans-serif';
    cursor: None;
}

.page-container {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    background-color: var(--background-primary);
}

.main-container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 4rem;

    @media screen and (max-width: 700px) {
        padding: 0 2rem;
    }
}

.section {
    position: relative;
    padding: 10rem 0;
    background-color: var(--background-primary);
}

.title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--text-primary);
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: var(--accent);
    margin-bottom: 3rem;

    @media screen and (max-width: 700px) {
        font-size: 2rem;
    }
}

.sub-section-title {
    font-size: 2.5rem;
    margin: 0.3rem 0;

    @media screen and (max-width: 700px) {
        font-size: 1.5rem;
    }

}

.sub-section-divider  {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    margin-top: 3rem;
    color: var(--text-secondary);

    @media screen and (max-width: 700px) {
        font-size: 1rem;
    }
}

.subpage-title {
    font-size: 1.5rem;
    color: var(--text-primary);
}

.subpage-text {
    font-size: 1.2rem;
    padding: 1rem 0;
    color: var(--text-primary);
}

.sub-section-text {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    margin: 0 0.2rem;
    color: var(--text-secondary);
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.baseline {
    align-items: baseline;
}

.primary {
    color: var(--text-primary);
}

.secondary {
    color: var(--text-secondary);
}

.light {
    font-weight: 100;
    font-size: 1.2rem;
}

.regular {
    font-weight: 400;
    font-size: 1.2rem;
}

.small {
    font-weight: 400;
    font-size: 0.8rem;
}

.bold {
    font-weight: 700;
    font-size: 1.2rem;
}

.italic {
    font-style: italic;
}

.italic-hover {
    transition: transform 0.2s ease-in;

    :hover {
        transform: skewX(-10deg);
    }
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

button {
    background-color: var(--background-primary);
    color: var(--text-primary);
    text-decoration: None;
    border: None;
}

.icon {
    height: 100%;
    width: 100%;
}
