// global colors
:root {
    --background-primary: #ffffff;
    --background-secondary: #d4d4d4;
    --background-contrast: black;

    --header: rgba(255, 255, 255, 0.85);

    --text-primary: #000000;
    --text-secondary: #5F5F5F;
    --text-tertiary: #DFDFDF;

    --accent: #0300ab;
}

[data-theme='dark'] {
    --background-primary: black;
    --background-secondary: #171717;
    --background-contrast: #ffffff;

    --header: rgba(0, 0, 0, 0.85);

    --text-primary: #ffffff;
    --text-secondary: #b0b0b0;
    --text-tertiary: #DFDFDF;

    --accent: #00AAFF;
}

@import "fonts";

// npm imports
@import "react-toggle";

@import "global";
@import "components";
