// global colors
:root {
    --background-primary: #ffffff;
    --background-secondary: #ffffff;

    --header: rgba(0, 0, 0, 0.1);

    --text-primary: #000000;
    --text-secondary: #5F5F5F;
    --text-tertiary: #DFDFDF;

    --accent: #00AAFF;
}

[data-theme='dark'] {
    --background-primary: black;
    --background-secondary: #171717;

    --header: rgba(0, 0, 0, 0.5);

    --text-primary: #ffffff;
    --text-secondary: #b0b0b0;
    --text-tertiary: #DFDFDF;

    --accent: #00AAFF;
}

@import "fonts";

// npm imports
@import "react-toggle";

@import "global";
@import "components";
